<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UAV</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div id="main-layout-container">

        <div class="container" id="controls-container">
            <h2>Configuration Controls</h2>
             
            <fieldset>
            <legend>Client Controls</legend>
                <button id="restartStream">Restart Stream</button>
                <button id="stopStream">Stop Stream</button>
                <button id="restartMavlink">Restart Mavlink</button>
                <button id="stopMavlink">Stop Mavlink</button>
            </fieldset>

            <fieldset>
                <legend>Stream Controls</legend>
                <button id="toggleVideo">Toggle Video</button>
                <button id="toggleAudio">Toggle Audio</button>
                <button id="switchCamera">Switch Camera</button>
                <button id="rotateVideo">Rotate Video</button>
                <button id="mirrorVideo">Mirror Video</button>
            </fieldset>
            
            <fieldset>
                <legend>Video Parameters</legend>
                <div class="input-group">
                    <label for="widthInput">Width:</label>
                    <input type="number" id="widthInput" value="640">
                </div>
                <div class="input-group">
                    <label for="heightInput">Height:</label>
                    <input type="number" id="heightInput" value="480">
                </div>
                <div class="input-group">
                    <label for="fpsInput">FPS:</label>
                    <input type="number" id="fpsInput" value="15">
                </div>
                <button id="setVideoParamsBtn">Set Video Parameters</button>

                <div class="input-group">
                    <label for="bitrateInput">Bitrate:</label>
                    <input type="number" id="bitrateInput" value="1000">
                    <button id="setBitrate">Set Bitrate</button>
                </div>
            </fieldset>

            <fieldset>
                <legend>Full Configuration</legend>
                <button id="sendFullConfig">Send Full Config Payload</button>
            </fieldset>

            <h3>Generated JSON Payload:</h3>
            <pre id="output">Click a button to generate a payload.</pre>
        </div>

        <div id="video_container">
            <video id="remoteVideo" autoplay playsinline muted></video>
            <audio id="remoteAudio" autoplay></audio>
        </div>

    </div> <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
